.container {
    position: relative;
    padding: 0.5% 0.5%;
    width: 180px;
    height: 230px;
    border: 1px solid rgb(194, 194, 194);  
    border-radius: 0.2em;
    background-color: white;
    color: rgba(22, 15, 1, 0.993);

    table {
        width: 105%;
        margin-bottom: 1%;
        bottom: 0;
        position: absolute;
        th {
            width: 70%;
        }
        td {
            width: 30%;
        }
    }
}

.container:hover {    
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.product-photo {
    display: block;
    width: 99%;
    height: auto;

    img {
        width: 100%;
        height: auto;
        border-radius: 0.2em;
    }
}

.product-name {
    text-align: left;
    font-weight: bold;
    font-size: 110%;
    margin-top: 1%;
}

.product-price {
    text-align: left;
    font-weight: normal;
}

.product-pre-price {
    text-align: left;
    font-weight: lighter;
    font-size: smaller;
    margin-bottom: 0;
    text-decoration: line-through;
}

.grid {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1% 3%;
    grid-gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}